/* login form styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Bordered form */
body {
/*
    padding: 16px;
    width: 50%;
    margin: 0 auto;
    */
    background-color: #3a9bdc;
    color: #ffffff;
    font-family: Catamaran;
}


.login_title{
    font-size:30px;
    text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width:100%;
    float:right;
    padding: 12px 20px;
    margin: 5px 0;
    color: black;
    font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

/* Set a style for all buttons */
.button {
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    border-radius: 28px;
      color: #ffffff;
      font-size: 20px;
      background: #000000;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 10px 0 12px 0;
}

/* Avatar image */

img.image-left
	{
         display: block;
		margin: 0 auto;
        width: 10rem;
        vertical-align: middle;
	}
    
    
 span {
  vertical-align: middle;
  display: table-cell;
}


.container {
   
    margin: 0 auto;

    width:100%;
  
}

.logincontainer {
    padding:16px;

}

form{
    display:block;
}
/* The "Forgot password" text */
span.psw {

    width: auto;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}