.clear{
    clear:both;
    display:inline-block;
}

h2,h3,h4,u{

    font-family: 'Montserrat', sans-serif;
}
/*dashboard styles*/

.info-box{
    border:solid 1px;
    margin-bottom:5px;
    border-radius: 10px;
}

.goalAlertIcon{
    position: absolute;
    font-size: 25px;
    margin-left: 135px;
  margin-top:-15px;
    color:#2eec71;
    cursor:pointer;
}

#goalsModal{
    background-color:#fff;
}

#goal1,#goal2,#goal3{
    height:130px;
    text-align: center;
}

#goal1 h4,#goal2 h4,#goal3 h4{
    height:30px;
    font-size: 15px;
}

#goal1 img,#goal2 img,#goal3 img{
    margin-left:auto;
    margin-right:auto;
}