.clear{
    clear:both;
    display:inline-block;
}

body{

    font-family: 'Catamaran', sans-serif;
}
h2,h3,h4,u{

    font-family: 'Catamaran', sans-serif;
    color:#fff;
}
u{
    color:#3a9bdc;
}
body{

    background-color: #3a9bdc;
}
h2,h3{


}
/*dashboard styles*/

.info-box{
    margin-bottom:5px;
    border-radius: 10px;
}

#acctInfo{

    background-color: #fff;
    color:#333;
    line-height: 2.5;
    font-size: 25px;
   /* border:solid 2px #fff;*/
}
#acctInfo p{
    text-align:center;
    font-size: 35px;
}
li,ul{
    list-style: none;
}
.goalAlertIcon{
    position: absolute;
    font-size: 25px;
    margin-left: 135px;
  margin-top:-15px;
    cursor:pointer;
    color:#fff;
}

#goalsModal{
    background-color:#fff;
}

#goal1,#goal2,#goal3{
    height:130px;
    text-align: center;
    color:#fff;
}
#goal1,#goal2{
    background-color:#34495e;
}
#goal1{
    margin-left:33px;
}

#goal2{
    margin-left:105px;
}
#goal3{
    background-color:#16a085;
    margin-left:105px;
}

#goal1 h4,#goal2 h4,#goal3 h4{
    height:30px;
    font-size: 15px;
    color:#fff;
    font-weight:bold;
    letter-spacing: 1px;
}

#goal1 img,#goal2 img,#goal3 img{
    margin-left:auto;
    margin-right:auto;

}